.posts{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    list-style: none;
    gap: 3rem;
    flex-wrap: wrap;
}

.posts li{
    width: 300px;
    height: 200px;
    background-color: rgb(42, 130, 212);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.posts li h2{
    color: rgb(36, 35, 35);
    font-size: 20px;
    text-align: center;
}

.posts li a {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    text-align: center;
}